{% extends 'users/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'users/css/main.css' %}" />
<!-- Set the title to "Home" (or any desired title) -->
<title>Home - MFIDS</title>

<div class="container-fluid" style="height: 100%; margin: 0 auto">
  <div class="row g-0">
    <div class="col-7" id="header-text">
      <h1 class="display-3">
        Multi-Faceted <br />
        Intruder Detection <br />
        System
      </h1>
      <p></p>
      <p class="h6">
        Where Security Meets Precision, <br />
        Authorised by VIT-AP(Not really)
      </p>
      <p></p>
      <a
        class="btn"
        style="color: white; background-color: #fd5e14"
        type="submit"
        id="body-link-row"
        href="{% url 'aboutus' %}"
        >Discover More</a
      >
    </div>

    <div class="col-5 d-flex flex-wrap align-items-center" id="header-image">
      <img
        class="img-fluid"
        src="{% static 'users/images/ai.png' %}"
        alt="ECS"
      />
    </div>
  </div>
</div>
{% endblock content %}
