{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <link rel="stylesheet" href="{% static 'users/css/main.css' %}">
    <title>LogIn - MFIDS</title>
    <div class="container" style="margin-top: 30px;">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="color: white;">Sign In Now</legend>
            <p></p>
            {{ form|crispy }}
            {% comment %} <div class="form-group">
                <label for="{{ form.username.id_for_label }}"><b>Username</b></label>
                <input type="text" class="form-control" placeholder="Enter Username" name="{{ form.username.name }}" required>
            </div>

            <div class="form-group">
                <label for="{{ form.password.id_for_label }}"><b>Password</b></label>
                <input type="password" class="form-control" placeholder="Enter Password" name="{{ form.password.name }}" required>
            </div> {% endcomment %}
        </fieldset>
        <p></p>
        <div>
            <button class="btn btn-primary signin-button" id="signup-button">Sign In</button>
        </div>

        <div class="form-group">
            <small class="text-muted ml-3">Don't have an account yet? <a href="{% url 'register' %}">Sign Up Today</a></small>
        </div>
    </form>
    </div>

 
{% endblock %}
