settings {
   logfile    = "./tmp/lsyncd.log",
   statusFile = "./tmp/lsyncd.status",
   pidfile = "./tmp/lsyncd.pid",
   inotifyMode = "CloseWrite or Modify",
   nodaemon   = true,
}

sync {
   default.rsync,
   source = "../",
   target = "/Users/bijoykozhampurath/Desktop/test",
   delay = 10,
   excludeFrom = "../.gitignore",
   delete = false,
   rsync = {
      verbose = true,
      binary = "/usr/local/bin/rsync",  -- Macos
  },
}